{% extends '../base.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block hero_header %}
    <div class="s-promo-block-v1 g-bg-color--primary-ltr g-fullheight--md">
        <div class="container g-ver-center--md g-padding-y-100--xs">
            <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
                <div class="col-lg-6 col-sm-6 g-hor-centered-row__col g-text-center--xs g-text-left--md g-margin-b-60--xs g-margin-b-0--md">
                    <div class="s-promo-block-v1__square-effect g-margin-b-60--xs">
                        <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-50--lg g-color--white">{{ page.header }}</h1>
                        <p class="g-font-size-20--xs g-font-size-26--md g-color--white g-margin-b-0--xs"> {{ page.sub_header }}</p>
                    </div>
                    {% for app in page.available_apps %}
                        {% include_block app %}
                    {% endfor %}
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-sm-4 g-hor-centered-row__col">
                    <div class="wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <form class="center-block g-width-350--xs g-bg-color--white-opacity-lightest g-box-shadow__blueviolet-v1 g-padding-x-40--xs g-padding-y-60--xs g-radius--4">
                            <div class="g-text-center--xs g-margin-b-40--xs">
                                <h2 class="g-font-size-30--xs g-color--white">Signup for Free</h2>
                            </div>
                            <div class="g-margin-b-30--xs">
                                <input type="email" class="form-control s-form-v3__input" placeholder="* Email">
                            </div>
                            <div class="g-margin-b-30--xs">
                                <input type="password" class="form-control s-form-v3__input" placeholder="* Password">
                            </div>
                            <div class="g-text-center--xs">
                                <button type="submit" class="text-uppercase btn-block s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Signup</button>
                                <a class="g-color--white g-font-size-13--xs" href="#">Forgot Password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock hero_header %}
{% block map_section %}
{% endblock map_section %}
