{% load static i18n wagtailadmin_tags wagtailuserbar menu_tags craftbox_tags %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<!-- Basic -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>
		{% block title%}
			{{page.get_site.site_name}} - {{self.seo_title}}
		{% endblock title%}
	</title>
	<meta name="keywords" content="" />
	<meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
	<meta name="AYIRA IO" content="">

	<!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" 
	rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Advent+Pro:100,700" rel="stylesheet">
	{% block vendor_styles %}
	<!-- Vendor Styles -->
	
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'vendor/themify/themify.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'vendor/scrollbar/scrollbar.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'vendor/swiper/swiper.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'vendor/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet" 
	type="text/css" />
	
	{% endblock vendor_styles %}

	{% block theme_styles %}
	<!-- Theme Styles -->
	
	<link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/global/global.min.css' %}" rel="stylesheet" type="text/css" />
	
	{% endblock theme_styles %}

	<!-- Favicon -->
	{% block branding_favicon %}
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	{% endblock branding_favicon %}
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	{% block head-extra %}
    {% endblock head-extra %}
</head>
<!-- End Head -->

<!-- Body -->

<body>
		{% wagtailuserbar 'bottom-left' %}

	<!--========== HEADER ==========-->
	{% block nav %}
		{% main_menu show_multiple_levels=False %}

	{% endblock nav %}
	<!--========== END HEADER ==========-->

	<!--========== SWIPER SLIDER ==========-->
	{% block hero_header %}
	{% endblock hero_header %}
	<!--========== END SWIPER SLIDER ==========-->

	<!--========== PAGE CONTENT ==========-->
	{% block content %}
	{% endblock content %}
	<!--========== END PAGE CONTENT ==========-->
	{% block map_section %}
		<!-- Google Map -->
		<section class="s-google-map">
				<div id="js__google-container" class="s-google-container g-height-400--xs"></div>
			</section>
			<!-- End Google Map -->
{% endblock map_section %}
	<!--========== FOOTER ==========-->
	{% block footer %}
		{% include 'partials/footer.html' %}
	{% endblock footer %}
	<!--========== END FOOTER ==========-->

	<!-- Back To Top -->
	<a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

	<!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
	<!-- Vendor -->
	{% block vendor_js %}
	
	<script src="{% static 'vendor/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.migrate.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/jquery.back-to-top.min.js' %}"></script>
	<script src="{% static 'vendor/scrollbar/jquery.scrollbar.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/waypoint.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/jquery.parallax.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/swiper/swiper.jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/jquery.wow.min.js' %}"></script>
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U">
	</script>
	{% endblock vendor_js %}

	<!-- General Components and Settings -->
	{% block general_js %}
	
	<script type="text/javascript" src="{% static 'js/global.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/header-sticky.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/scrollbar.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/portfolio-3-col.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/parallax.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/google-map2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/swiper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/components/wow.min.js' %}"></script>
	
	{% endblock general_js %}
	<!--========== END JAVASCRIPTS ==========-->

</body>
<!-- End Body -->

</html>

 
