{% load static wagtailcore_tags wagtailimages_tags %}

{% if index|divisibleby:"2" %}

<div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-10--md">
  <div class="col-sm-3 col-xs-6 g-hor-centered-row__col">
    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
      {% image value.first_image height-400 class="img-responsive" %}
    </div>
  </div>
  <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
        {% image value.second_image width-650 class="img-responsive" %}
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5 g-hor-centered-row__col">
    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">
        {{ value.caption }}
    </p>
    <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">
        {{ value.title }}
    </h2>
    <p class="g-font-size-18--sm">
        {{ value.message }}
    </p>
  </div>
</div>
{% else %}
<div class="row g-hor-centered-row--md g-row-col--5">
    <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col">
        <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
            {% image value.first_image height-400 class="img-responsive" %}
        </div>
    </div>
    <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
        <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">
            {% image value.second_image width-650 class="img-responsive" %}
        </div>
    </div>
    <div class="col-sm-1"></div>
        <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">
            {{ value.caption }}
        </p>
        <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">
            {{ value.title }}
        </h2>
        <p class="g-font-size-18--sm">
            {{ value.message }}
        </p>
    </div>
</div> 
{% endif %}

