{% load static wagtailcore_tags wagtailimages_tags %}

<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
    <div class="s-plan-v1 g-text-center--xs g-bg-color--white g-padding-y-100--xs">
	    <i class="g-display-block--xs g-font-size-40--xs g-color--primary g-margin-b-30--xs">
            {% image value.icon width-60 %}
        </i>
	    <h3 class="g-font-size-18--xs g-color--primary g-margin-b-30--xs">
            {{ value.name }}
        </h3>
	    <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-40--xs">
            {% for feature in value.features %}
                {% include './feature.html' with value=feature %}
            {% endfor %}
	    </ul>
        <a type="button" href="{{ value.hire_button.link }}" 
        class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--10 g-padding-x-50--xs">
            {{ value.customise_button }}
        </a>
    </div>
</div>
