<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="g-text-center--xs g-margin-b-100--xs">
        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">
            {{ value.caption }}
        </p>
        <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">
            {{ value.title }}
        </h2>
    </div>
    <ul class="list-inline row g-margin-b-100--xs">
        {% for step in value.process %}
            {% include "./blurb_block.html" with value=step %}
        {% endfor %}
    </ul>
    <div class="g-text-center--xs">
        <a href="#js__scroll-to-appointment" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs">Hire Us</a>
    </div>
</div>