{% load static wagtailcore_tags wagtailimages_tags %}

{% if category == "case study" %}
    {% with posts.specific as posts %}
        <div class="container g-padding-y-80--xs">
            <div class="g-text-center--xs g-margin-b-40--xs">
                <h2 class="g-font-size-32--xs g-font-size-36--md">case studies</h2>
            </div>
            <div class="s-portfolio">
                <div id="js__filters-portfolio-gallery" 
                class="s-portfolio__filter-v1 cbp-l-filters-text cbp-l-filters-center">
                    <div data-filter="*" 
                    class="s-portfolio__filter-v1-item cbp-filter-item cbp-filter-item-active">
                        Show All
                    </div>
                    {% for tag in posts.first.post_category.tags.all %}
                    <div data-filter=".graphic" class="s-portfolio__filter-v1-item cbp-filter-item">
                        {{ tag.name }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            <div class="container g-margin-b-100--xs">
                    <div id="js__grid-portfolio-gallery" class="cbp">
                            {% for post in posts %}
                        <!-- Item -->
                        <div class="s-portfolio__item cbp-item logos motion">
                            <div class="s-portfolio__img-effect">
                                {% image post.cover_image fill-970x647 %}
                            </div>
                            <div class="s-portfolio__caption-hover--cc">
                                <div class="g-margin-b-25--xs">
                                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">
                                        {{ post.title }}
                                    </h4>
                                    <p class="g-color--white-opacity">
                                        {{ post.excerpt|truncatewords_html:"15"}}
                                    </p>
                                </div>
                                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                                    <li>
                                        {% image post.cover_image original as cover_image %}
                                        <a href="{{ cover_image.url }}" 
                                        class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" 
                                        data-title="{{ post.title }}">
                                            <i class="ti-fullscreen"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% pageurl post %}" 
                                        class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                            <i class="ti-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end item -->
                        {% endfor %}
                    </div>

                    <!-- End Portfolio Gallery -->
                </div>
       
    {% endwith %}

{% else %}
<div class="g-text-center--xs g-margin-b-80--xs">
        {% with posts.first.get_parent.specific as craftboxhome %}
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary 
            g-letter-spacing--2 g-margin-b-25--xs">
                {{ craftboxhome.title }}
            </p>
            <h2 class="g-font-size-32--xs g-font-size-36--md">
                {{ craftboxhome.header }}
            </h2>
        {% endwith %}
    </div>
    {% with posts.specific as posts %}
        {% for post in posts %}
            <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                    <!-- News -->
                <article style="position:relative;display:block;width:100%;">
                    <div>
                        {% image post.cover_image fill-400x200 class="img-responsive" %}
                        <h1 class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--white-opacity-light g-padding-x-15--xs g-padding-y-15--xs"
                            style="position:absolute;top:0%;right:0%;">
                            {% if post.featured %}
                            <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-medall g-color--primary"></i>
                            featured post
                        {% else %}
                        <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-thought"></i>
                            classic post
                        {% endif %}
                        </h1>
                    </div>
                    <div class="g-bg-color--white g-box-shadow__dark-lightest-v2
                    g-padding-x-40--xs g-padding-y-40--xs">
                        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary 
                        g-letter-spacing--2 g-text-center--xs ">
                            {% for category in post.tags.all %}
                                {{ category }}. 
                            {% endfor %}
                        </p>
                        <h3 class="g-font-size-22--xs g-letter-spacing--1 g-text-center--xs ">
                            <a href="{% pageurl post %}">{{ post.title }}</a>
                        </h3>
                    </div>
                    <div style="height:50px;border:1px solid white"></div>
                </article>        <!-- End News -->
            </div>
        {% endfor %}
    {% endwith %}
    
{% endif %}