[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
python-slugify = "*"
Pillow = "*"
argon2-cffi = "*"
redis = "*"
django-widget-tweaks = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-redis = "*"
djangorestframework = "*"
coreapi = "*"
gunicorn = "*"
psycopg2 = "*"
raven = "*"
"boto3" = "*"
django-storages = "*"
django-anymail = "*"
wagtail = "*"
wagtailcodeblock = "*"
wagtailmenus = "*"
wagtail-condensedinlinepanel = "*"
django-cors-headers = "*"
whitenoise = "*"

[dev-packages]
Werkzeug = "*"
Sphinx = "*"
factory_boy = "*"
django_coverage_plugin = "*"
ipdb = "*"
"psycopg2" = "*"
pytest = "*"
pytest-sugar = "*"
"flake8" = "*"
coverage = "*"
django-test-plus = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest-django = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
