{% load wagtailadmin_tags staticfiles %}

<div class="wagtail-logo-container__desktop u-hidden@small">
    <img class="wagtail-logo wagtail-logo__body" src="{% static 'img/logo-medium.png' %}" alt=""/>
    <img class="wagtail-logo wagtail-logo__tail" src="{% static 'img/logo-medium.png' %}" alt="" />
    <img class="wagtail-logo wagtail-logo__eye--open" src="{% static 'img/logo-medium.png' %}" alt="" />
    <img class="wagtail-logo wagtail-logo__eye--closed" src="{% static 'img/logo-medium.png' %}" alt="" />
</div>